@model CreateOfferDiscountDto
@{
    ViewData["Title"] = "CreateOfferDiscount";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>İndirim Teklifleri Ekleme Alanı</h4>
                <p>İndirim teklifleri ile ilgili ekleme işlemlerinizi aşağıdaki panel üzerinden gerçekleştirebilirsiniz.</p>
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <label>İndirim Başlığı</label>
                        <input type="text" class="form-control" asp-for="Title" />
                        <br />
                        <label>İndirim Altbaşlığı</label>
                        <input type="text" class="form-control" asp-for="SubTitle" />
                        <br />
                        <label>Görsel Linki</label>
                        <input type="text" class="form-control" asp-for="ImageUrl" />
                        <br />
                        <label>Buton Yazısı</label>
                        <input type="text" class="form-control" asp-for="ButtonTitle" />
                        <br />
                        <button class="btn btn-primary">İndirim Teklifi Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>