@model CreateFeatureSliderDto
@{
    ViewData["Title"] = "CreateFeatureSlider";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Öne Çıkan Görsel Ekleme Alanı</h4>
                <p>Görsel ile ilgili ekleme işlemlerinizi aşağıdaki panel üzerinden gerçekleştirebilirsiniz.</p>
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <label>Görsel Başlığı</label>
                        <input type="text" class="form-control" asp-for="Title" />
                        <br />
                        <label>Görsel Linki</label>
                        <input type="text" class="form-control" asp-for="ImageUrl" />
                        <br />
                        <label>Görsel Açıklaması</label>
                        <textarea rows="5" sytle="resize:none" type="text" class="form-control" asp-for="Description" ></textarea>
                        <br />
                        <button class="btn btn-primary">Görseli Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>